@model List<Position>


@{
    int counter = 0;
}

<div class="container">

    <div class="container">
        <h1 style="text-align:center">Positions</h1>
    </div>
    <div>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id</th>
                    <th scope="col">FullName</th>
                    <th scope="col">Actions</th>
                    <th scope="col"><a asp-action="create" asp-controller="position" class="btn btn-primary">Create</a></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var position in Model)
                {
                    counter++;
                    <tr>
                        <th scope="row">@counter</th>
                        <td>@position.Id</td>
                        <td>@position.Name</td>
                        <td><a asp-action="update" asp-controller="position" asp-route-id="@position.Id" class="btn btn-success">Update</a></td>
                        <td><a asp-action="delete" asp-controller="position" asp-route-id="@position.Id" class="btn btn-danger">Delete</a></td>
                    </tr>
                }

            </tbody>
        </table>


    </div>


</div>
